*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.behruz{}

.fazliddin{}

.otabek{}

.abduvali{}

.ibrohim{}

.marjona{}
.marjona__list{
    background: #F8EDF0;
}
.marjona__link{
    
}
